---
    name: Docker
    
    on:
      push:
        branches:
          - "master"
      pull_request:
        branches:
          - "master"
    
    permissions: read-all
    
    jobs:
      build:
        name: Build image
        runs-on: ubuntu-latest
    
        permissions:
          contents: read
          packages: read
          statuses: write
    
        steps:
          - name: Checkout
            uses: actions/checkout@v6
    
          - name: Set BUILD_TAG
            run: |
              IMAGE="wkobiela/docker_capture_web"
              LATEST_TAG="$IMAGE:latest"
              echo "LATEST_TAG=$LATEST_TAG" >> "$GITHUB_ENV"
              
              if [[ "${{ github.event_name }}" == "pull_request" ]]; then
                  BUILD_TAG="${IMAGE}:PR-${{ github.event.number }}"
                  echo "BUILD_TAG=$BUILD_TAG" >> "$GITHUB_ENV"
                  echo "PUSH_TAG=$BUILD_TAG" >> "$GITHUB_ENV"
                  echo "BUILD_TAG is $BUILD_TAG"
                  echo "PUSH_TAG is $BUILD_TAG"
              
              elif [[ "${{ github.ref }}" == "refs/heads/master" ]]; then
                  SHORT_COMMIT=$(echo "${{ github.sha }}" | cut -c1-7)
                  BUILD_TAG="$IMAGE:master-$SHORT_COMMIT"
                  echo "BUILD_TAG=$BUILD_TAG" >> "$GITHUB_ENV"
                  echo "PUSH_TAG=$BUILD_TAG,$LATEST_TAG" >> "$GITHUB_ENV"
                  echo "BUILD_TAG is $BUILD_TAG"
                  echo "PUSH_TAG is $BUILD_TAG,$LATEST_TAG"
              fi
    
          - name: Set up QEMU
            uses: docker/setup-qemu-action@v3
    
          - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3
    
          - name: Login to Docker Hub
            uses: docker/login-action@v3
            with:
              username: ${{ secrets.DOCKERHUB_USERNAME }}
              password: ${{ secrets.DOCKERHUB_TOKEN }}
    
          - name: Push to Docker Hub
            uses: docker/build-push-action@v6
            with:
              push: true
              tags: ${{ env.PUSH_TAG }}
    